[submodule "client/external/portaudio"]
    path = client/external/portaudio
    url = https://github.com/PortAudio/portaudio.git

[submodule "server/external/whisper.cpp"]
    path = server/external/whisper.cpp
    url = https://github.com/ggml-org/whisper.cpp.git

[submodule "server/external/llama.cpp"]
    path = server/external/llama.cpp
    url = https://github.com/ggml-org/llama.cpp.git
